:root {
  --color-header: #eee;
  --bg-layover: #0000006e;
  --bg-main: #1a1a1a;
  --color-txt: #b9b9b9;
  --grey-bg: #373737;
  --main-color: #e6007e;
  --wrong-input: #ff4c4c;
  --correct-input: #95ff8d;
}

/*========
  GLOBAL
========*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body,
input {
  background-color: var(--bg-main);
}

a {
  color: var(--main-color);
  font-weight: bold;
  text-decoration: none;
}

/*============
  TYPOGRAPHY
============*/

body {
  font-family: "Poppins", sans-serif;
}

/*-- HEADER --*/
.img-bg {
  color: var(--color-header);
}

h1 {
  font-size: 2.5rem;
}

.fa-wpexplorer {
  color: var(--main-color);
  font-size: 4rem;
}

.img-credit p {
  font-size: 0.8rem;
}

/*-- MAIN --*/
main,
footer,
input {
  color: var(--color-txt);
}

.paragraphs {
  font-size: 0.95rem;
}

form > h3 {
  font-size: 1.8rem;
}

.information {
  font-size: 0.9rem;
  opacity: 0.95;
}

input {
  font-size: 0.9rem;
}

.asterisk {
  color: var(--main-color);
}

.bold-txt {
  font-weight: bold;
}

.required::after {
  content: " *";
  color: var(--main-color);
}

.error {
  color: var(--wrong-input);
}

.correct {
  color: var(--correct-input);
}

.pass-condition {
  font-size: 0.8rem;
  text-align: left;
}

#submit {
  color: var(--main-color);
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: bold;
}

/*-- FOOTER --*/
footer {
  text-align: center;
}

.fa-github {
  font-size: 1.4rem;
}

/*==========
  SPECIFIC
==========*/

/*-- HEADER --*/
.img-bg {
  background-image: url("./img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  background-color: var(--bg-layover);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.img-credit {
  text-align: center;
  margin-top: 1.4rem;
  padding-bottom: 0.8rem;
}

.img-credit p {
  background-color: var(--bg-layover);
  display: inline-block;
  padding: 0.6rem;
  border-radius: 20px;
}

/*-- MAIN --*/
main {
  text-align: center;
}

.padding-x {
  padding: 0.6rem;
}

.paragraphs {
  padding-top: 1rem;
  background-color: var(--grey-bg);
}

.paragraphs p + p {
  margin-top: 0.8rem;
}

/*-- FORM --*/
form {
  margin-top: 1.2rem;
}

.information {
  margin-top: 0.4rem;
  margin-bottom: 2rem;
}

label {
  display: block;
  margin-bottom: 0.6rem;
}

input {
  opacity: 70%;
  min-width: 230px;
  border: 0.5px solid var(--color-txt);
  border-radius: 4px;
  padding: 0.4rem 0.6rem;
}

input:focus {
  outline: none;
  border-color: var(--main-color);
}

.wrong-input {
  border-color: var(--wrong-input);
}

.correct-input:focus {
  border-color: var(--correct-input);
}

.input-field {
  margin-bottom: 1rem;
}

.error {
  min-height: 25px;
}

#pass-error.error {
  min-height: auto;
}

#pass-error.min-height {
  min-height: 25px;
}

#d-none {
  display: none;
}

.pass-condition {
  display: inline-block;
}

/*-- Show Password --*/
.show-pass {
  position: relative;
  display: inline-block;
}

.fa-eye {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: 5px;
}
/*FIXME: aggiustalo quando metti le quary e quindi verso la fine
altrimenti è probabile che dovrò cambiarlo troppe volte*/
/*
#password,
#conf-password {
  position: relative;
} 

.fa-eye {
  position: absolute; 
  display: none;
}
*/

#submit {
  cursor: pointer;
  background-color: inherit;
  padding: 0.7rem 1.8rem;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  margin-top: 0.8rem;
  margin-bottom: 1.4rem;
}

#submit:hover {
  background-color: var(--main-color);
  color: var(--bg-main);
}

#submit:focus {
  outline: none;
  transform: scale(1.03);
}

.log-in {
  padding-bottom: 0.8rem;
}

/*-- FOOTER --*/
footer {
  background-color: var(--grey-bg);
  padding-block: 1rem;
}

.fa-github {
  margin-left: 0.3rem;
  vertical-align: middle;
}

/*FIXME: METTI ANIMAZIONI AL LOGO*/

/* footer {
  TODO: occhio che deve stare sempre attaccato al basso, quindi occhio all'altezza
  
  margin auto ?
  flexbox?
  cosa dovrà succedere?
  Vedi quando inizia a mettere le mediaquery

  forse sarebbe carino mettere uno sfondo grigino,
  insieme alla parte dove stanno i 3 paragrafi
} */

/*==============
  MEDIA QUERIES
==============*/
/*-- TABLET --*/
@media screen and (min-width: 500px) {
  h1 {
    font-size: 3.4rem;
  }

  .paragraphs {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .paragraphs > p:nth-child(2) {
    max-width: 48ch;
  }

  form > h3 {
    font-size: 2.3rem;
  }

  .information {
    font-size: 1rem;
  }

  label {
    font-size: 1.2rem;
  }

  .error {
    font-size: 1.1rem;
  }

  .pass-condition {
    font-size: 1rem;
  }

  #submit {
    padding: 1rem 2.4rem;
    font-size: 1.5rem;
  }

  .log-in {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 582px) {
  .all-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .all-inputs > div:nth-child(even) {
    margin-left: 2rem;
  }

  input {
    min-width: 265px;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 842px) {
}
