:root {
  --color-header: #eee;
  --bg-layover: #0000006e;
  --bg-main: #1a1a1a;
  --color-txt: #b9b9b9;
  --main-color: #e6007e;
  --wrong-input: #ff4c4c;
  --correct-input: #95ff8d;
}

/*========
  GLOBAL
========*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body,
input {
  background-color: var(--bg-main);
}

a {
  color: var(--main-color);
  font-weight: bold;

  text-decoration: none;
}

/*============
  TYPOGRAPHY
============*/

body {
  font-family: "Poppins", sans-serif;
}

/*-- HEADER --*/
h1,
.img-credit {
  color: var(--color-header);
}

.fa-wpexplorer {
  color: var(--main-color);
  font-size: 4rem;
}

/*-- MAIN --*/
main,
footer,
input {
  color: var(--color-txt);
}

input {
  font-size: 0.9rem;
}

.asterisk {
  color: var(--main-color);
}

.bold-txt {
  font-weight: bold;
}

.required::after {
  content: " *";
  color: var(--main-color);
}

.error {
  color: var(--wrong-input);
}

.correct {
  color: var(--correct-input);
}

#submit {
  color: var(--main-color);
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: bold;
}

/*==========
  SPECIFIC
==========*/

/*-- HEADER --*/
.img-bg {
  background-image: url("./img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  background-color: var(--bg-layover);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.img-credit {
  text-align: center;
  padding-block: 1rem;
}

.img-credit p {
  background-color: var(--bg-layover);
  display: inline-block;
  padding: 0.6rem;
  border-radius: 20px;
}

/*-- MAIN --*/
main {
  /*TODO: Rimuovi il padding nella mediaquery(?)*/
  padding: 0.6rem;
  text-align: center;
}

.paragraphs {
  /* TODO: occhio al margin top nella media query */
  margin-top: 1rem;
}

.paragraphs p + p {
  margin-top: 0.8rem;
}

/*-- FORM --*/
form {
  /* TODO: Occhio al margin in media query */
  margin-top: 2.4rem;
}

.information {
  /* TODO: occhio media */
  margin-top: 0.4rem;
  margin-bottom: 2rem;
}

label {
  display: block;
  margin-bottom: 0.6rem;
}

input {
  opacity: 70%;
  min-width: 230px;
  border: 0.5px solid var(--color-txt);
  border-radius: 4px;
  padding: 0.4rem 0.6rem;
}

input:focus {
  outline: none;
  /* FIXME: cambierà col javascript in base a se è corretto o meno */
  border-color: var(--main-color);
}

.wrong-input {
  border-color: var(--wrong-input);
}

.correct-input:focus {
  border-color: var(--correct-input);
}

.input-field {
  margin-bottom: 1rem;
  /* display: flex;
  flex-direction: column; */
}

.error {
  min-height: 25px;
}

/*-- Show Password --*/
/*FIXME: aggiustalo quando metti le quary e quindi verso la fine
altrimenti è probabile che dovrò cambiarlo troppe volte*/
/*
#password,
#conf-password {
  position: relative;
} 

.fa-eye {
  position: absolute; 
  display: none;
}
*/

#submit {
  cursor: pointer;
  background-color: inherit;
  padding: 0.7rem 1.8rem;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  margin-bottom: 1.4rem;
}

#submit:hover {
  background-color: var(--main-color);
  color: var(--bg-main);
}

#submit:focus {
  outline: none;
  transform: scale(1.03);
}

/* #submit:focus {
  outline: none;
} */

/*-- FOOTER --*/
/* footer {
  margin auto ?
  flexbox?
  cosa dovrà succedere?
  Vedi quando inizia a mettere le mediaquery

  forse sarebbe carino mettere uno sfondo grigino,
  insieme alla parte dove stanno i 3 paragrafi
} */

/*==============
  MEDIA QUERIES
==============*/
/*una media a 650+ px (?)*/
